<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <header>
            <h1>Note app</h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/apropos">A propos</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium incidunt nesciunt earum qui magnam molestias magni obcaecati quia, laborum accusamus! Omnis suscipit itaque repellat sequi soluta cupiditate voluptatem, consectetur, eos molestias atque facere unde dolor iste incidunt voluptates expedita, quod natus facilis saepe ea possimus? Recusandae sed sit eum adipisci ducimus quaerat quis harum enim. Cum ipsum omnis quis ut! Veritatis quae quas earum vel exercitationem temporibus porro, ratione hic, ipsa, ad sequi? Mollitia dignissimos similique amet. Modi qui cupiditate voluptas corrupti dolorem eos expedita delectus quis sed dolor sunt nam doloremque, nulla, est aliquam odit! Dolor repellat exercitationem ad.</p>
        </section>

    </div>
</body>
</html>