<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page introuvable</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <header>
            <h1>Note app</h1>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/apropos">A propos</a></li>
                </ul>
            </nav>
        </header>
        <section>
            <h2>404 Page introuvable</h2>
            <p>L'url est incorrect</p>
        </section>

    </div>
</body>
</html>